extends ../layout/index

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-action Bienes 
            span.font-normal.text-primaryText Raices
        h2.text-center.text-2xl.font-extrabold= page

        if errores
            div(class="max-w-md mx-auto my-10")
                each error in errores
                    p.bg-error.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold.fade-error!= error.msg

        .mt-8.mx-auto.max-w-lg
            .bg-formBackground.py-8.px-6.rounded-md.shadow-md
                form(method='POST' action='/auth/login' noValidate).space-y-5.px-6
                    input(type="hidden" name="_csrf" value=csrfToken)
                    div 
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold(for="email") Correo
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Ingresa tu correo" type="email" name="email" required)
                    div
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold(for="email") Contraseña
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Ingresa tu contraseña" type="password" name="password" required)

                    .flex.items-center.justify-between
                        a.text-action.text-xs(href="/auth/registro" class="hover:underline hover:text-hoverAction transition duration-300") ¿Aun no tienes una cuenta? Crea una
                        a.text-action.text-xs(href="/auth/olvide-password" class="hover:underline hover:text-hoverAction transition duration-300") ¿Olvidaste tu contraseña? Recupérala


                    input(class="w-full bg-action hover:bg-hoverAction text-white font-bold py-3 cursor-pointer rounded-lg transition duration-300" type="submit" value="Iniciar sesión")
                    
    if errores
        style.
            .fade-error {
                transition: opacity 1s ease-in-out;
            }
        script.
            setTimeout(function() {
                const errorMessages = document.querySelectorAll('.fade-error');
                errorMessages.forEach((message, index) => {
                    setTimeout(() => {
                        message.style.opacity = '0'; 
                        setTimeout(() => {
                            message.style.display = 'none'; 
                        }, 1000); 
                    }, index * 2000); 
                });
            }, 1500); 