doctype html 
html(lang="es")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device=width, initial-scale=1.0")
        link(rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon")
        title Bienes Raíces | Daniel
        link(rel="stylesheet" href="/css/app.css")
        block styles

    if bg_bgg
        body.min-h-screen(class="bg-white")
            main(class="mx-auto container mt-10 px-2")
                block contenido
    else
        body.min-h-screen(class="bg-white")
            main(class="mx-auto container mt-10 px-2")
                block contenido

        block scripts     