header.bg-verde.p-4 
    .container.mx-auto.flex.justify-between.items-center 
        h1.text-2xl.text-white.font-extrabold.text-center Bienes 
            span.font-normal Raíces

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden") 
            a(href="/mis-propiedades") Mis propiedades 
            a(href="") Mi perfil
            form(action="/auth/cerrar-sesion" method="POST")  
                input(type="hidden" name="_csrf" value= csrfToken)
                input(type="submit" class="bg-naranja py-2 px-10 rounded-lg transition-transform duration-300 hover:scale-110 cursor-pointer" value="Cerrar Sesión")    
